@import '../../constants/mixins';

.category-list-item {
  @include notButton();
  // @include flex();
  display: block;
  width: 100%;
  background: white;

  border: 1px solid rgba(0, 0, 0, 0.1);
  &:not(:last-child) {
    border-bottom: none;
  }
  cursor: default;

  .label {
    padding: 1rem;
  }

  .label:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.5);
  }
  overflow: hidden;
  .children {
    max-height: 0;
    transition: max-height 200ms cubic-bezier(0, 1, 0, 1);
  }

  .children.open {
    max-height: 2000px;
    transition: max-height 200ms ease-in-out;
  }

  & .category-list-item {
    border-left: 0;
    border-right: 0;
  }
}
